<p id="notice"><%= notice %></p>

<p>
  <b>admin_mail:</b>
  <%= @task_worker.admin_mail %>
</p>

<p>
  <b>task:</b>
  <%= @task_worker.task %>
</p>

<p>
  <b>done:</b>
  <%= @task_worker.done %>
</p>


