<<<<<<< HEAD
<%= render 'form' %>
=======
<h1>Editing task</h1>

<%= render 'form' %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
>>>>>>> a72203f6334ec91d16b19f5388c76b63195e8698
