<<<<<<< HEAD
<table>
SHOW
<% end %>
</table>
=======
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
>>>>>>> a72203f6334ec91d16b19f5388c76b63195e8698
