<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>TODO</title>
=======
  <title>Demoapp</title>
>>>>>>> a72203f6334ec91d16b19f5388c76b63195e8698
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
